.Rproj.user
.Rhistory
.RData
.Ruserdata

# solver working directories created by benchmark/example runs
scenarios/
README.html
reports/
drafts/
levcosts/
projects/
data-raw/tyndp/*.xlsb
data-raw/tyndp/*.xlsx
data-raw/tyndp/*.zip
data-raw/tyndp/__MACOSX/
